/*
 title: style.css Styles
 By:Stephen Ratliff
 for: MIU project 1
 Term: 01-12
*/

	body {
  background-image: url("http://i1198.photobucket.com/albums/aa458/Steve_Ratliff/footballfield.png");
  background-repeat:repeat;
}
	
	h1{
		border:1px outset #black
		font-family: "Times New Roman", Times, sans-serif;
		font-size:25px;
		font-weight:bold;
		line-height:40px;
		text-align:center;
		text-shadow: 3px 3px 1px rgba(0,0,0,0.2);
	   
		}
	input[type=search]{
		font-size: medium;
		font-family: "Times New Roman";
		color: black;
        text-align: right;
        cursor: pointer;
        display: block;
        width: 100%;
        letter-spacing: 4px;
        text-shadow: 0 0 2px black;
        word-spacing: 20px;
		}
	legend{
		font-size:27px;
		padding-left: 30px;
		padding-bottom: 10px;
		
		
		text-align:center;
		font-weight: bold;
		font-family: "Times New Roman", Times, sans-serif;
		text-decoration:none;
		text-transform:none;
		color:black;
		text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
		}
	p{
		color:black;
		font-size: 20px;
		font-family: "Times New Roman", Times, sans-serif;
		text-align:center;
		text-decoration:none;
		text-transform:none;
		padding: 1px;
		color:black;
		
		
		
		}
	h2{
		font-size:25px;
		font-family: "Times New Roman", Times, sans-serif;
		text-align:center;
		
		
		}
	label{
		font-size:19px;
		color:black;
		
		
		}
	select{
		font-size:19px;
		font-family: "Times New Roman", Times, sans-serif;
		text-transform:capitalize;
		
		
		
	}
	footer{
		font-size:19px;
		font-family: "Times New Roman", Times, sans-serif;
		text-align:center;
		color:black;
		text-transform:capitalize;
		
	}
	li{
		font-size:16px;
		font-family: "Times New Roman", Times, sans-serif;
		color:black;
		text-transform:none;
	
	
	
	}
	input{
		font-size:16px;
		font-family: "Times New Roman", Times, sans-serif;
		color:black;
		text-transform:none;
		
		
	}
	nav{
		font-size:19px;
		font-family: "Times New Roman", Times, sans-serif;
		text-align:center;
		color:red;
		text-transform:capitalize;
		padding: 3px,4px,3px,4px;
		
		
		
	}
	fieldset{
		
		background:white;
		background-position: center;
		font-family: "Times New Roman", Times, sans-serif;
		font-size:20px;
		font-weight:normal;
		
	}
	#menu1
	{text-align: center;
	}
	
	
	
		
